/* START: Buttons CSS */
.btn-white {
    font-weight: 600;
    color: var(--black);
    padding: 15px 30px;
    text-transform: uppercase;
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}
.btn-white:hover {
    background: var(--light-gray);
    transition: all 0.5s;
}

.btn-black {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    padding: 10px 20px;
    text-transform: uppercase;
    background: var(--black);
    border: none;
}
.btn-black:hover {
    color: var(--black);
    background: var(--light-gray);
    transition: all 0.5s;
}
a.btn-black, a.btn-white {
    text-decoration: none;
}
/* END: Buttons CSS */

/* START: Offer item CSS */
.offer {
    padding: 47px 0;
}
.offer .top {
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.offer .top .price {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}
.offer .top .off {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}
.offer .desc {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}
/* END: Offer item CSS */

/* START: Category CSS */
.category .image-container {
    position: relative;
    width: 225px;
    margin: 0 auto;
}
.category .image-container > .btn-white {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    text-transform: none;
    display: none;
    width: 225px;
}
.category .image-container:hover > .btn-white {
    display: block;
}
.category .image-container img {
    width: 225px;
}
.category a {
    color: var(--black);
    text-decoration: none;
}
.category a:not(.btn-white):hover {
    text-decoration: underline;
}
.category h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px; 
    color: var(--black);
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
}
/* END: Category CSS */

/* START: Section CSS */
.section .row {
    row-gap: 40px;
}
.section .section-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: var(--black);
}
.section .section-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
    text-align: center;
    margin-bottom: 0;
    margin-top: 2rem;
}
/* END: Section CSS */

/* START: Product CSS */
.product .image-container, .product .product-details {
    position: relative;
    width: 225px;
    margin: 0 auto;
}
.product .image-container > .btn-white {
    position: absolute;
    left: 60px;
    bottom: 10px;
    font-size: 12px;
    text-transform: none;
    display: none;
    padding: 10px 20px;
}
.product .image-container:hover > .btn-white {
    display: block;
}
.product .image-container img {
    width: 225px;
}
.product .product-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: var(--black);
    min-height: 50px;
    display: flex;
    align-items: center;
}
.product .price, .product .price.new, .product .price.old {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
}
.product .price.new {
    font-weight: 800;
    color: var(--red);
    margin-right: 20px;
}
.product .price.old {
    text-decoration-line: line-through;
}
/* END: Product CSS */

/* START: Hashtag CSS */
.hashtags {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    row-gap: 10px;
    margin-top: 30px;
}
.hashtags .tag {
    border: 1px solid var(--black);
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.hashtags .tag:hover {
    background-color: var(--black);
    color: var(--white);
}
/* END: Hashtag CSS */
