/* Montserrat Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --light-gray: #F2F2F2;
}

/* START: Navigation Styling */
nav.navbar .nav-item .nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--black);
}

nav.navbar .nav-item .nav-link.active {
    font-weight: 600;
}

nav.navbar .nav-item .nav-link:hover {
    text-decoration: underline;
}

nav.navbar .nav-item .nav-link:hover img {
    filter: brightness(0%);
}

nav.navbar .right-nav .nav-item {
    padding: 0 10px;
}

nav.navbar .dropdown button {
    border: 1px solid var(--light-gray);
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 4px 12px 4px 8px;
}

nav.navbar .dropdown .dropdown-toggle:after {
    display: none;
}

nav.navbar .dropdown .dropdown-menu {
    border: 1px solid var(--light-gray);
}

nav.navbar .dropdown .dropdown-menu .dropdown-item {
    font-size: 14px;
}
/* END: Navigation Styling */

/* START: Benefits Styling */
.benefits {
    background-color: var(--light-gray);
}

.benefits .benefit-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.benefits .benefit-item span {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
/* END: Benefits Styling */

/* START: Hero Carousel Styling */
#heroCarousel .carousel-indicators > button {
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
}
#heroCarousel .carousel-indicators > button:focus {
    box-shadow: none;
}
#heroCarousel .carousel-control-next, #heroCarousel .carousel-control-prev {
    width: 55px;
}

#heroCarousel .carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: right;
}

#heroCarousel .carousel-inner .carousel-item button {
    position: absolute;
    left: 65%;
}
/* END: Hero Carousel Styling */

/* START: VIP Exclusive */
.vip-exclusive {
    background: black url('/images/vip-bg.jpg') no-repeat top left;
    background-size: cover;
}
.vip-exclusive h3 {
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: var(--white);
}
.vip-exclusive p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
}
.vip-exclusive button {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 30px;
}
/* END: VIP Exclusive */
