/* Montserrat Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --light-gray: #F2F2F2;
    --red: #C1272D;
    --gray: #4D4D4D;
}

/* START: Navigation Styling */
.navbar {
    padding-left: 19px;
    padding-right: 13px;
    background: var(--white);
    min-height: 70px;
}

.navbar .navbar-nav {
    column-gap: 15px;
}

.navbar .navbar-nav .nav-item {
    margin-top: 3px;
}

.navbar .nav-item .nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--black);
}

.navbar .nav-item .nav-link.active {
    font-weight: 600;
}

.navbar .nav-item .nav-link:hover {
    text-decoration: underline;
}

.navbar .nav-item .nav-link:hover img {
    filter: brightness(0%);
}

.navbar .navbar-brand img {
    margin-left: 13px;
}

.navbar .right-nav .nav-item {
    padding: 0 11px;
}

.navbar .dropdown {
    margin-left: 10px;
}

.navbar .dropdown .dropdown-toggle {
    border: 1px solid var(--light-gray);
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 4px 10px 4px 4px;
}

.navbar .dropdown .dropdown-toggle:after {
    display: none;
}

.navbar .dropdown .dropdown-toggle span {
    padding-top: 3px;
}

.navbar .dropdown .dropdown-toggle .arrow-down {
    margin-left: 8px;
}

.navbar .dropdown .dropdown-menu {
    border: 1px solid var(--light-gray);
}

.navbar .dropdown .dropdown-menu .dropdown-item {
    font-size: 14px;
}
/* END: Navigation Styling */

.main {
    margin-top: 70px;
}

/* START: Benefits Styling */
.benefits {
    background-color: var(--light-gray);
    padding: 0 18px;
}

.benefits .benefit-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.benefits .benefit-item span {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
/* END: Benefits Styling */

/* START: Hero Carousel Styling */
#heroCarousel .carousel-indicators {
    margin-bottom: 26px;
}

#heroCarousel .carousel-indicators > button {
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
    margin: 0 10px;
}

#heroCarousel .carousel-control-next, #heroCarousel .carousel-control-prev {
    width: 100px;
    opacity: 1;
}

#heroCarousel .carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: right;
}

#heroCarousel .carousel-inner .carousel-item button {
    position: absolute;
    left: 63.4%;
}
/* END: Hero Carousel Styling */

/* START: VIP Exclusive Styling */
.vip-exclusive {
    background: black url('/images/vip-bg.jpg') no-repeat top left;
    background-size: cover;
}

.vip-exclusive h3 {
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: var(--white);
}

.vip-exclusive p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
}

.vip-exclusive button {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 30px;
}
/* END: VIP Exclusive Styling */

/* START: Now Trending Styling */
.trending {
    padding: 53px 0;
}
/* END: Now Trending Styling */

/* START: New Arrivals Styling */
.new-arrivals {
    background: black url('/images/new-arrival-bg.jpg') no-repeat top center;
    background-size: cover;
    height: 400px;
}

.new-arrivals h3 {
    font-weight: 800;
    font-size: 86px;
    line-height: 86px;
    color: var(--white);
}

.new-arrivals p {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: var(--white);
}

.new-arrivals .btn-white {
    padding: 10px 20px;
}
/* END: New Arrivals Styling */

/* START: Recently Bought Styling */
.recently-bought {
    padding: 53px 0;
}
/* END: Recently Bought Styling */

/* START: Inspo Styling */
.inspo {
    padding: 53px 0;
    background-color: var(--light-gray);
}
/* END: Inspo Styling */

/* START: Newsletter Styling */
.newsletter {
    background-color: var(--black);
    min-height: 75px;
}

.newsletter h3 {
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: var(--white);
}

.newsletter .input-group {
    width: 354px;
}

.newsletter .input-group input {
    border-radius: 0;
    background: var(--light-gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 9px 17px;
}

.newsletter .input-group input::-webkit-input-placeholder {
    color: var(--gray);
}

.newsletter .input-group button {
    border-radius: 0;
    background: var(--white);
    border: 0;
}
.newsletter .input-group button:hover {
    background: var(--gray);
    color: var(--white);
}
/* END: Newsletter Styling */

/* START: Footer Styling */
footer {
    padding: 55px 0;
}

.footer-section .title {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-links {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-links .link:not(:last-child) {
    margin-bottom: 10px;
}

.footer-links .link a {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: var(--black);
}

.footer-links .link a:hover {
    text-decoration: underline;
}

.footer-socials {
    column-gap: 10px;
}

.footer-socials a:hover img {
    background: var(--light-gray);
}

.copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--black);
}
/* END: Footer Styling */
